@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import 'styles/reset';
@import 'styles/colors';
@import 'styles/components/layout';
@import 'styles/components/write';
@import 'styles/components/article';
@import 'styles/components/category';
@import 'styles/components/home';

body {
    background-color: $grey200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}