# NODE.JS SERVER PORT
PORT=3000

# WEBPACK DEV SERVER PORT
DEV_SERVER_PORT=4000

# MONGODB URI
MONGO_URI=mongodb://localhost:27017/webapm

# AUTH SERVER SECRET KEY
SECRET=

# FULL SERVER URL
SERVER_URL=http://localhost:30000