@media (max-width: 1200px) and (min-width: 840px) {
    .article_grid .mdl-cell {
        margin-left: 5%;
        width: 90%;
    }
}

@media (max-width: 1440px) and (min-width: 1201px) {
    .article_grid .mdl-cell {
        margin-left: 7.5%;
        width: 85%;
    }
}

@media (max-width: 1920px) and (min-width: 1441px) {
    .article_grid .mdl-cell {
        margin-left: 10%;
        width: 80%;
    }
}

.article_grid {
    word-break: break-all;
    img {
        max-width: 100%;
        height: auto !important;
    }
}

.article_container {
    padding: 30px;
}

// 모바일
@media (max-width: 600px) and (min-width: 200px) {
    .article_grid {
        padding: 0;
    }

    .article_container {
        padding: 8px;
    }

    .article_title {
        h2 {
            font-size: 28px !important;
        }
        margin-bottom: 8px !important;
    }

    .article_content  {
        h1,h2,h3,h4,h5,h6 {
            font-family: 'Nanum Gothic';
        }
        h1 {
            font-size: 1.5em !important;
        }
        h2 {
            font-size: 1.3em !important;
        }
        h3 {
            font-size: 1.1em !important;
        }
        pre {
            font-size: 0.7em !important;
        }
    }
}

.article_title {
    h2 {
        color: $lightBlue800;
        font-size: 40px;
        font-family: 'Nanum Gothic';
    }
    margin-bottom: 16px;
    padding: 0;
}

.article_info {
    color: $grey500;
    font-size: 0.7em;
    line-height: 1.5;

    .article_menu {
        float: right;
        font-weight: bold;
        .article_modify_btn {
            cursor: pointer;
            color: $amber800;
        }
        .article_remove_btn {
            cursor: pointer;
            color: $red800;
        }
    }
}

.article_content  {
    h1,h2,h3,h4,h5,h6 {
        font-family: 'iropkeBatangM';
        font-weight: bold;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.17em;
    }
    pre {
        font-size: 0.8em;
    }
    font-family: 'D2 coding';
    color: $blueGrey700;
}

.image-center {
    text-align: center;
}