$homeGridMargin: 8px;
$gridItemPadding: 8px;

@mixin item-card ($width, $height) {
    width: $width;
    height: $height;
    word-break: break-all;
}

@mixin item-card-title ($fontSize) {
    font-family: 'Nanum Gothic';
    font-size: $fontSize;
    font-weight: 900;
    text-shadow:
            3px 3px 0 #131313,
            -1px -1px 0 #131313,
            1px -1px 0 #131313,
            -1px 1px 0 #131313,
            1px 1px 0 #131313;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.item-card {
    @include item-card(100%, auto);
    height: auto;
    overflow: hidden;
}

.article_preview {
    font-family: 'D2 coding';
    color: $blueGrey700;
    padding: 8px;
    margin: 8px;
    width: inherit;
}

.article_timeago {
    margin-right: 10px;
    float: right;
    font-family: 'D2 coding';
    color: $amber900
}

.grid-item {
    padding: $gridItemPadding;
}

.card-title {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// mobile
@media screen and (max-width: 600px) {
    .grid-item {
        padding: 8px;
    }
}

.item-hover-effect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.0s;
    transition-duration: 0.0s;
    -webkit-transition-property: transform;
    transition-property: transform;
    .card-title-wrapper {
        overflow: hidden;
    }
    .card-title {
        transition: all .3s ease-in-out;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .card-title-value {
            -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
            align-self: flex-end;
            h2 {
                transition: all .3s ease-in-out;
                line-height: 1;
                @include item-card-title(1.5rem);
            }
        }
    }
}
.item-hover-effect:hover, .item-hover-effect:focus, .item-hover-effect:active {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);

    .card-title {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);

        .card-title-value {
            h2 {
                transition: all .3s ease-in-out;
                -ms-transform: translate(9px, -9px); /* IE 9 */
                -webkit-transform: translate(9px, -9px); /* Safari */
                transform: translate(9px, -9px);
                line-height: 1;
                @include item-card-title(1.5rem);
            }
        }
    }
}

.card-top {
    color: $amber500;
    .material-icons {
        font-size: 1.4rem !important;
    }
    text-shadow:
            3px 3px 0 #131313,
            -1px -1px 0 #131313,
            1px -1px 0 #131313,
            -1px 1px 0 #131313,
            1px 1px 0 #131313;
    .item-value {
        position: absolute;
        top: 3px;
        left: 22px;
        color: white;
    }
    position: absolute;
    top: 10px;
    left: 10px;

}

.card-bottom {
    line-height: 2.5;
    font-size: 0.9rem;
    .item-bottom-right {
        margin-top: 3px;
        float: right;
    }
    .item-author {
        color: $blueGrey700;
        font-weight: bold;
        font-size: 1rem;
        padding: 0 0 5px 0;
    }
    .item-value {
        padding: 0 5px 5px 2px;
    }
    .hit {
        color: $teal700;
    }
    .reply {
        color: $lightGreen700;
    }
    color: $grey700;
    margin: 0 15px 15px 15px;
}

.pagination {
    text-align: center;
    margin: 30px 0 50px 0;
}