$homeGridMargin: 8px;
$gridItemPadding: 8px;

@mixin item-card ($width, $height) {
    width: $width;
    height: $height;
    word-break: break-all;
}

@mixin item-card-title ($fontSize) {
    font-family: 'Nanum Gothic';
    font-size: $fontSize;
    text-shadow: 2px 2px 2px #131313;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.big-item-card {
    @include item-card(100%, 520px);
    h2 {
        @include item-card-title(3rem);
    }
}

.item-card {
    @include item-card(100%, auto);
    min-height: 400px;
    h2 {
        @include item-card-title(1.5rem);
    }
}

.article_content {
    font-family: 'D2 coding';
    color: $blueGrey700
}

.article_timeago {
    font-family: 'D2 coding';
    color: $amber900
}

.grid-item {
    padding: $gridItemPadding;
}

// mobile
@media screen and (max-width: 600px) {
    .grid-item {
        padding: 8px;
    }
}