$homeGridMargin: 8px;
$gridItemPadding: 8px;

@mixin item-card ($width, $height) {
    width: $width;
    height: $height;
    word-break: normal;
}

@mixin item-card-title ($fontSize) {
    font-family: 'Nanum Gothic';
    font-size: $fontSize;
    font-weight: 900;
    text-shadow:
            3px 3px 0 #131313,
            -1px -1px 0 #131313,
            1px -1px 0 #131313,
            -1px 1px 0 #131313,
            1px 1px 0 #131313;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.item-card {
    @include item-card(100%, auto);
    height: 550px;
    h2 {
        @include item-card-title(1.5rem);
    }
}

.article_preview {
    font-family: 'D2 coding';
    color: $blueGrey700;
    padding: 8px;
    margin: 8px;
}

.article_timeago {
    font-family: 'D2 coding';
    color: $amber900
}

.grid-item {
    padding: $gridItemPadding;
}

.card_title {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// mobile
@media screen and (max-width: 600px) {
    .grid-item {
        padding: 8px;
    }
}

.item-hover-effect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.item-hover-effect:hover, .item-hover-effect:focus, .item-hover-effect:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}