/*==============================================
    Define Variables
================================================*/
$navigationColor: $pink500; // 네비게이션 바 색깔
$sidebarWidth: 340px; // 사이드바 넓이
$containerMargin: 8px; //

/*==============================================
    Navigation
================================================*/
.navigation {
    background-color: $navigationColor;
}

.title {
    cursor: pointer;
}

/*==============================================
    Search field
================================================*/
.search {
    margin-right: 20px;
}

.mdl-layout__header-row .mdl-textfield__label:after {
    background-color: $white;
}

/*==============================================
    Sidebar
================================================*/
.mdl-layout__drawer {
    width: $sidebarWidth
}

.mdl-layout__content {
    margin: $containerMargin $containerMargin $containerMargin ($containerMargin + $sidebarWidth) !important;
}

.sidebar_username {
    padding-left: 40px;
}

// When sidebar is visible
@media screen and (min-width: 1025px) {
    .mdl-layout__drawer {
        // 사이드바
        transition-duration: 0s;
    }

    .mdl-layout__drawer-button {
        display: none;
    }

    .mdl-layout__header {
        height: 56px !important;
        min-height: 56px !important;
    }

    .mdl-layout__header-row {
        height: 56px !important;
        padding-left: $sidebarWidth - 200 !important;
    }

}

// When sidebar is invisible
@media screen and (max-width: 1024px) {
    .mdl-layout__drawer {
        transition-duration: 0s;
        -webkit-transform: translateX(-($sidebarWidth + 10));
        transform: translateX(-($sidebarWidth + 10));
    }

    .mdl-layout__content {
        margin: $containerMargin !important;
    }

    .mdl-layout__drawer .mdl-layout-title {
        padding-left: 30px !important;
    }

    .mdl-navigation__link {
        padding-left: 30px !important;
    }

    .sidebar_username {
        padding-left: 30px;
    }
}

.sidebar_button {
    margin: 20px 30px 0 30px;
}

// mobile
@media screen and (max-width: 600px) {
    .mdl-layout__content {
        margin: 0 !important;
    }
}