.share_btn_group {
    margin-top: 40px;
    text-align: center;
}

.SocialMediaShareButton {
    cursor: pointer;
}

.article_share_network {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.article_share_count {
    margin-top: 3px;
    font-size: 12px;
}