.share_btn_group {
    margin-top: 40px;
    text-align: center;
}

.share_btn_group_title {
    position: relative;
    top: -30px;
    left: 77px;
    font-size: 0.7em;
    font-weight: 700;
}

.SocialMediaShareButton {
    cursor: pointer;
}

.article_share_network {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.article_share_count {
    margin-top: 3px;
    font-size: 12px;
}