.share_btn_group {
    margin: 50px 0 0 -50px;
    text-align: center;
}

.share_btn_group_title {
    position: relative;
    top: -30px;
    left: 77px;
    font-size: 0.7em;
    font-weight: 700;
}

.SocialMediaShareButton {
    cursor: pointer;
}

.kakao_share_btn {
    cursor: pointer;
}

.article_share_network {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.article_share_count {
    margin-top: 3px;
    font-size: 12px;
}

@media (max-width: 600px) {
    .share_btn_group {
        margin: 50px 0 20px -50px;
    }
}