.app {
    margin: 0 auto;
}

.wrapper {
    margin: 3rem auto 1rem auto !important;
    width: 320px !important;
}

.wrapper input {
    border-radius: 0 !important;
}

.wrapper button {
    margin-top: 2rem !important;
    border-radius: 0 !important;
}